
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>View</h2>

<div class="content-wrap">
    <div class="content-inner rb-row rb-n15-gutter">
        <div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98665 no-avatar">
                
           
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98658 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/gamerhead/oyun-haber/fortniteta-metallica-ruzgari/" aria-label="Fortnite’ta METALLICA Rüzgarı!" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/06/fortnite-puppet-master-metallica-outfits-1920x1080-f8fe2fdb0d91-280x210.jpg" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-19" href="https://fanzade.com/gamerhead/oyun-haber/" rel="category" data-wpel-link="internal">Oyun Haber</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/gamerhead/oyun-haber/fortniteta-metallica-ruzgari/" rel="bookmark" data-wpel-link="internal">Fortnite’ta METALLICA Rüzgarı!</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded added" data-title="Sonra Oku" data-bookmarkid="98658" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/busenury/" data-wpel-link="internal">Busenur Yanık</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            2 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded added" data-title="Sonra Oku" data-bookmarkid="98658" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98632 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/otaku/anime-manga-inceleme/howls-moving-castle-hauru-no-ugoku-shiro-kalp-agir-bir-yuktur/" aria-label="HOWL’S MOVING CASTLE (HAURU NO UGOKU SHIRO ) | Kalp Ağır Bir Yüktür" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/06/howls-moving-castle-kapak-fotosu-280x210.jpg" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-13" href="https://fanzade.com/otaku/anime-manga-inceleme/" rel="category" data-wpel-link="internal">Anime Manga İnceleme</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/otaku/anime-manga-inceleme/howls-moving-castle-hauru-no-ugoku-shiro-kalp-agir-bir-yuktur/" rel="bookmark" data-wpel-link="internal">HOWL’S MOVING CASTLE (HAURU NO UGOKU SHIRO ) | Kalp Ağır Bir Yüktür</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98632" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/zelihaakman/" data-wpel-link="internal">Zeliha Akman</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            10 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98632" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98583 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/otaku/otaku-makale/fate-anime-serileri-ve-izleme-sirasi/" aria-label="FATE REHBERİ: Fate Anime Serileri ve İzleme Sırası" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/06/kapak-280x210.png" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-109" href="https://fanzade.com/otaku/otaku-makale/" rel="category" data-wpel-link="internal">Otaku Makale</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/otaku/otaku-makale/fate-anime-serileri-ve-izleme-sirasi/" rel="bookmark" data-wpel-link="internal">FATE REHBERİ: Fate Anime Serileri ve İzleme Sırası</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98583" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/eminaksoy/" data-wpel-link="internal">Emin Aksoy</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            10 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98583" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98543 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/otaku/otaku-makale/benzer-yonleri-ile-isekai-ojisan-ve-dagashi-kashi/" aria-label="Benzer Yönleri İle Isekai Ojisan ve Dagashi Kashi" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/05/dagashi-kashi-280x210.jpg" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-109" href="https://fanzade.com/otaku/otaku-makale/" rel="category" data-wpel-link="internal">Otaku Makale</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/otaku/otaku-makale/benzer-yonleri-ile-isekai-ojisan-ve-dagashi-kashi/" rel="bookmark" data-wpel-link="internal">Benzer Yönleri İle Isekai Ojisan ve Dagashi Kashi</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98543" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/eminaksoy/" data-wpel-link="internal">Emin Aksoy</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            3 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98543" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98522 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/filmmaniac/filmmaniac-makale/buffy-the-vampire-slayer/" aria-label="Buffy the Vampire Slayer | Filmden Diziye, Diziden Çizgi Romana Uzanan Bir Serüven" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/04/buffy-3-280x210.jpg" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-12125" href="https://fanzade.com/filmmaniac/filmmaniac-makale/" rel="category" data-wpel-link="internal">Film Makale</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/filmmaniac/filmmaniac-makale/buffy-the-vampire-slayer/" rel="bookmark" data-wpel-link="internal">Buffy the Vampire Slayer | Filmden Diziye, Diziden Çizgi Romana Uzanan Bir Serüven</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98522" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/melihculha/" data-wpel-link="internal">Melih Çulha</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            4 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98522" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98505 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/filmmaniac/filmmaniac-makale/firefly-serenity-yarim-kalani-tamamlamak/" aria-label="Firefly &amp; Serenity | Yarım Kalanı Tamamlamak" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/03/firefly-280x210.jpeg" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-12125" href="https://fanzade.com/filmmaniac/filmmaniac-makale/" rel="category" data-wpel-link="internal">Film Makale</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/filmmaniac/filmmaniac-makale/firefly-serenity-yarim-kalani-tamamlamak/" rel="bookmark" data-wpel-link="internal">Firefly &amp; Serenity | Yarım Kalanı Tamamlamak</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98505" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/melihculha/" data-wpel-link="internal">Melih Çulha</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            5 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98505" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98492 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/filmmaniac/filmmaniac-makale/artik-orumcekcilik-oyunlarina-son-ver-sony-eren-tan-kose-yazisi/" aria-label="Artık Örümcekçilik Oyunlarına Son Ver Sony! – “Eren TAN” Köşe Yazısı" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/03/Spider-Verse-280x210.jpg" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-12125" href="https://fanzade.com/filmmaniac/filmmaniac-makale/" rel="category" data-wpel-link="internal">Film Makale</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/filmmaniac/filmmaniac-makale/artik-orumcekcilik-oyunlarina-son-ver-sony-eren-tan-kose-yazisi/" rel="bookmark" data-wpel-link="internal">Artık Örümcekçilik Oyunlarına Son Ver Sony! – “Eren TAN” Köşe Yazısı</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98492" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/eren/" data-wpel-link="internal">Eren Tan</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            6 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98492" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
        </div><div class="rb-col-m6 rb-col-d3 rb-p15-gutter">
            <div class="p-wrap p-grid p-grid-2 post-98478 no-avatar">
                <div class="p-feat-holder">
                    <div class="p-feat">
                        <a class="p-flink" href="https://fanzade.com/filmmaniac/sinema-haber/96-oscar-odulleri-sonuclari/" aria-label="96. Oscar Ödülleri Sonuçları" data-wpel-link="internal">
                            <span class="rb-iwrap pc-75"><img loading="lazy" decoding="async" width="280" height="210" src="https://fanzade.com/wp-content/uploads/2024/03/surprizler-ve-surpriz-olmayanlar-pi3x-280x210.jpg" class="attachment-pixwell_280x210 size-pixwell_280x210 wp-post-image" alt=""></span>
                        </a>
                        <aside class="p-cat-info is-absolute">
                            <a class="cat-info-el cat-info-id-5" href="https://fanzade.com/filmmaniac/sinema-haber/" rel="category" data-wpel-link="internal">Sinema Haber</a>
                        </aside>
                    </div>
                </div>
                <div class="p-header">
                    <h4 class="entry-title">
                        <a class="p-url" href="https://fanzade.com/filmmaniac/sinema-haber/96-oscar-odulleri-sonuclari/" rel="bookmark" data-wpel-link="internal">96. Oscar Ödülleri Sonuçları</a>
                        <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98478" original-title="">
                            <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                        </span>
                    </h4>
                </div>
                <div class="p-footer">
                    <aside class="p-meta-info">
                        <span class="meta-info-el meta-info-author">
                            <span class="screen-reader-text">Posted by</span>
                            <em class="meta-label">Yazar </em>
                            <a href="https://fanzade.com/yazar/ozgurseyan/" data-wpel-link="internal">Özgür Seyan</a>
                        </span>
                        <span class="meta-info-el meta-info-read">
                            3 dakikada okunur
                        </span>
                        <span class="meta-info-el mobile-bookmark">
                            <span class="read-it-later bookmark-item tipsy-loaded loaded" data-title="Sonra Oku" data-bookmarkid="98478" original-title="">
                                <i class="rbi rbi-bookmark" aria-hidden="true"></i>
                            </span>
                        </span>
                    </aside>
                </div>
            </div>
    </div>
</div>