html,
body {
    height: 100%;
}

.form-sign {
    max-width: 500px;
    padding: 1rem;
}

    .form-sign .form-floating:focus-within {
        z-index: 2;
    }

.form-sign input[type="email"] {
    margin-bottom: -1px;
    border-radius: 5px;
}

    .form-sign input[type="password"] {
        margin-bottom: 10px;
        border-radius:5px;
    }